<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
  
        <div class="sidebar-header">
            <h3>Minesweeper</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="mb-3">
                <button class="btn btn-success w-100" data-toggle="modal" data-target="#exampleModal">New game</button>
            </li>
            <li class="active">
                <a>Saved games</a>
                <ul class="list-unstyled" id="games">
                    <li *ngFor="let game of games" >
                        <a href="javascript: void(0);" (click)="changeGame(game)">{{game.rows}} x {{game.columns}}</a>
                    </li>
                </ul>
            </li>
        </ul>
  
    </nav>
  
    <!-- Page Content  --> 
    <div id="content">

        <div class="row">
            <div class="col-12">
                <button type="button" id="sidebarCollapse" class="btn btn-info d-lg-none">
                    <i class="fas fa-align-left"></i>
                    <span>Menu</span>
                </button>
                <button class="btn btn-outline-info my-2 my-sm-0 float-right d-lg-none" type="button" (click)="logout()" >Logout</button>
            </div>
        </div>

        <div class="row row mb-5">
            <div class="col-md-12 col-lg-9">
                <h1>{{header}} <small>{{elapsedTime}}</small></h1>
            </div>
            <div class="col-lg-3 col-md-12">
                <button class="btn btn-outline-info my-2 my-sm-0 float-right d-none d-lg-block d-xl-block" type="button" (click)="logout()" >Logout</button>
            </div>
        </div>

        <div *ngIf="game != undefined" class="w-100">
            <div class="row" *ngFor="let row of game.board; index as i">
                <div class="" *ngFor="let col of row; index as j">
                    <button *ngIf="col.status == 'Hidden'" class="btn btn-sm cell" (click)="reveal(i,j)" (contextmenu)="flag($event, i, j)"></button>
                    <button *ngIf="col.status == 'Visible' && col.value == 1" class="btn btn-sm cell" style="color: royalblue;font-weight: bold;">{{col.value}}</button>
                    <button *ngIf="col.status == 'Visible' && col.value == 2" class="btn btn-sm cell" style="color: darkgreen;font-weight: bold;">{{col.value}}</button>
                    <button *ngIf="col.status == 'Visible' && col.value == 3" class="btn btn-sm cell" style="color: red;font-weight: bold;">{{col.value}}</button>
                    <button *ngIf="col.status == 'Visible' && col.value > 3" class="btn btn-sm cell" style="color: darkblue;font-weight: bold;">{{col.value}}</button>
                    <button disabled *ngIf="col.status == 'Visible' && col.value == 0" class="btn btn-sm cell"></button>
                    <button disabled *ngIf="col.status == 'Visible' && col.value == -1" class="btn btn-sm cell"><i class="fa fa-bomb" aria-hidden="true"></i></button>
                    <button *ngIf="col.status == 'Flagged'" (contextmenu)="flag($event, i, j)" class="btn btn-sm cell"><i class="fa fa-flag" style="color: brown;" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Loading... </p>  
</ngx-spinner>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form class="modal-dialog" role="document" #newGameForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new game</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <input type="number" #rowsInput="ngModel" id="rows" name="rows" [(ngModel)]="rows" class="form-control" placeholder="Rows" required [min]="1" [max]="30">
                
            </div>
            
            <div *ngIf="rowsInput.invalid && (rowsInput.dirty || rowsInput.touched)"class="alert alert-danger">

                <div *ngIf="rowsInput.errors.required">Rows are required.</div>
                <div *ngIf="rowsInput.errors.min">Minimum value is 1.</div>
                <div *ngIf="rowsInput.errors.max">Maximum value is 30.</div>

            </div>

            <div class="input-group mb-3">
                <input type="number" #columnsInput="ngModel" id="columns" name="columns" [(ngModel)]="columns" class="form-control" placeholder="Columns" required min="0" max="30">
                
                
            </div>

            <div *ngIf="columnsInput.invalid && (columnsInput.dirty || columnsInput.touched)"class="alert alert-danger">

                <div *ngIf="columnsInput.errors.required">Columns are required.</div>
                <div *ngIf="columnsInput.errors.min">Minimum value is 1.</div>
                <div *ngIf="columnsInput.errors.max">Maximum value is 30.</div>

            </div>

            <div class="input-group mb-3">
                <input type="number" #minesInput="ngModel" id="mines" name="mines" [(ngModel)]="mines" class="form-control" placeholder="Mines" required min="0" max="89">
                
                
            </div>

            <div *ngIf="minesInput.invalid && (minesInput.dirty || minesInput.touched)"class="alert alert-danger">

                <div *ngIf="minesInput.errors.required">Mines are required.</div>
                <div *ngIf="minesInput.errors.min">Minimum value is 1.</div>
                <div *ngIf="minesInput.errors.max">Maximum value is 89.</div>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="!newGameForm.valid" (click)="newGame()" >New game</button>
        </div>
      </div>
    </form>
  </div>